
<div>
@Html.ActionLink("Home", "Index", "Home")
    &nbsp;&nbsp;&nbsp;

    &nbsp;&nbsp;&nbsp;
@Html.ActionLink("Create", "Create", "Home")
    &nbsp;&nbsp;&nbsp;
    @Html.ActionLink("OrderByName", "OrderByName", "Home")
    &nbsp;&nbsp;&nbsp;
    </div>
